@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


p {
    font-size: 21vw;
    font-family: "Poppins", sans-serif;
    font-weight: 750;
    font-style: normal;
    line-height: 0.8;
    letter-spacing: -.01em;
    color: #F15B40;

}

p#little {
    font-size: 5vw;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    line-height: 0.8;
    color: #F15B40;

}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    letter-spacing: -.01em;
    font-size: 2.3vw;
    line-height: 0.95;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.3vw;
    line-height: 0.95;
}

h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.05vw;
    line-height: normal;
}

* {
    margin: 0;
    padding: 0;
}

/*  <div className='border border-black w-fit px-[1.5%] py-[0.5%] rounded-full bg-white'>
*/

.button-container {
    background-color: white;
    color: black;
    border-radius: 9999px;
    width: fit-content;
    border: 1px solid black;
    padding: 0.5% 1.5%;
    transition: ease-in-out 300ms;

}

.button-container:hover{
    background-color:black;
    color:white;
    border-radius: 9999px;
    width: fit-content;
    border: 1px solid black;
    padding: 0.5% 1.5%;
    transition: ease-in-out 300ms;
    cursor:pointer;

}

